 body{
    width:960px;
    background-color: rgba(171, 158, 123, .5);
}

h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    color: #725b36;
    text-align: center;
    margin-bottom: 20px;
}

h2{
    font-family: 'Permanent Marker', cursive;
    font-size: 45px;
    color: #725b36;
    text-align: center; 
    margin-bottom: 40px;
}

h3{
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #152113;
    margin-bottom: 40px;

}

img{
    width:250px;
    height: 333;
}

li{
    display:inline-block;
}

#jon{
    /* display: none; */
    max-width: 200px;
    margin-left: 20px;
}


p{
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: justify;
    width:240px;
}

.morton{
    margin-left:80px;
}
#chris{
    /* display: none; */
    max-width: 100px;
    /* margin-left: 30px; */
}

.carranza{
    margin-left:90px;
}
#marino{
    /* display: none; */
    max-width: 125px;
    /* margin-left: 0px; */
}

button{
    margin-left: 20px;
    width: 250px;
    background-color: #152113;
    font-size:20px;
    font-weight: bold;
    color:white;
    border:none;
    padding: 10px;
    text-align: center;
    cursor:pointer;
}