/* header */

header {
    background: url(../img/hurricane-ridge-smaller.jpg);
    max-width:960px;
    margin: 0 auto;
    background-repeat: no-repeat;
    height: 180px;
  }

/* fixed positioned sidenav */

#camp-pic {
    height: 450px;
    width: 450px;
  }


#sidenav a {
    position: fixed; /* Position them relative to the browser window */
    right: -20px; 
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; 
    width: 40px; 
    text-decoration: none; 
    text-align: left;
    font-size: 20px; 
    color: #F6F4F3; 
    border-radius: 2px 0 0 2px; 
  }
  
  #sidenav a:hover {
    right: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  #burnban {
    top: 120px;
    background-color: #152113;
    font-family: sans-serif;
  }
  
  #alerts {
    top: 180px;
    background-color: #725B36; 
    font-family: sans-serif;
  }
  
  #emergencyservices {
    top: 240px;
    background-color: #546B73; 
  }

  #food {
      top: 300px;
      background-color:#ab9e7b;
  }
/***********************************************/

.center {
    margin: 0 auto;
    width: 960px;
    margin-bottom: 30px;
}

h2 { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#text {
    margin-top: -450px;
    margin-left: 480px;
    margin-bottom: 10px;
    overflow: auto;
    height: 450px;
    text-align: justify;
    font-size: 18px;
}

/* links */
ul {
    margin-bottom: 30px;
    text-align: center;
}

a{
color: inherit; /* blue colors for links too */
}

ul li{
    display:inline;
    margin-right: 60px;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
    color: #546B73;
}

#map {
    float: right;
    margin-bottom: 20px;
}

legend {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: #725b36;
    margin-bottom: 10px;
    width: 400px;
}

label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #725b36;
}

form {
    background-color: #F6F4F3;
    max-width: 580px;
    padding: 10px;
}

#comment-list {
max-width: 600px;
}

#comment-list li {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}

footer{
    clear: both;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 28px;
    padding: 10px;
    color:#725b36;
}

/* form and comments */



