/* header*/

header {
  background: url(../img/hurricane-ridge.jpg);
  max-width:960px;
  margin:0 auto;
  background-repeat: no-repeat;
  height: 300px;
}


/* Style the links inside the sidenav */
#sidenav a {
  position: fixed; /* Position them relative to the browser window */
  right: -20px; 
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; 
  width: 40px; 
  text-decoration: none; 
  text-align: left;
  font-size: 20px; 
  color: #F6F4F3; 
  border-radius: 2px 0 0 2px; 
}

#sidenav a:hover {
  right: 0; /* On mouse-over, make the elements appear as they should */
}

#burnban {
  top: 120px;
  background-color: #546B73;
  font-family: sans-serif;
}

#alerts {
  top: 180px;
  background-color: #725B36; 
  font-family: sans-serif;
}

#emergencyservices {
  top: 240px;
  background-color: #152113; 
}

/* ***********   search bar *******************/
.search{
  background-color: #ab9e7b;
  padding:5px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 420px;
  margin-bottom: 20px;
  font-size: 16px;
}

.search:hover {
  background-color: #152113; /* Green */
  color: white;
}

/*************  CENTER IMAGES ******************/

ul.top-row-images {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.bottom-row-images {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.top-row-images li {
  display: inline-block;
  height: 300px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 300px;
}

ul.bottom-row-images li {
  display: inline-block;
  height: 300px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 300px;
}


/* HOVER TO TEXT ATTEMPT TOP LEFT IMAGE*/

.img-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #725B36;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  color: white;
  visibility: hidden;
  opacity: 0;
  padding-top: 140px; 

  /* transition effect, not necessary */
  transition: opacity .5s, visibility .5s;
}

.container:hover .img-text {
  visibility: visible;
  opacity: 1;
} 



